<!doctype html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-16122727-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-16122727-1');
    </script>

    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <link href="https://fonts.googleapis.com/css?family=Chathura:700,800|Playfair+Display|Roboto:300|Oswald:200,300,400|Raleway:300,400" rel="stylesheet">
    <title><%= current_page.data.title || "Jaclyn Perrone" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= partial "site-header" %>
    <%= yield %>
  </body>
</html>
