<!doctype html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-07JN4HEX06"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-07JN4HEX06');
    </script>
  <% if current_page.data.type == "case study" %>
    <meta name="robots" content="noindex, nofollow, noimageindex">
  <% end %>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&family=Lato:wght@700&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-body">
        <%= partial "site-header" %>
        <main>
          <%= yield %>
        </main>
        <%= partial "bio-design" %>
      </div>
      <%= partial "contact" %>
    </div>
  </body>
</html>
