<section class="section-container">
  <div class="section-content">
    <div class="section-content__wrapper">
      <h2 class="section-content__heading">Artwork</h2>

      <div class="portfolio">
        <ul class="portfolio__grid">
          <li class="print-1">
            <% link_to "https://jaclynperroneart.etsy.com/listing/703983885/village-art-prints-abstract-city-nyc", target: "_blank" do %>
            <%= image_tag "portfolio/prints/village.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Village" %>
            <% end %>
          </li>
          <li class="print-2">
            <% link_to "https://jaclynperroneart.etsy.com/listing/690123446/purple-brownstones-colorful-art-abstract", target: "_blank" do %>
            <%= image_tag "portfolio/prints/purple-brownstones.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Purple Brownstones" %>
            <% end %>
          </li>
          <li class="print-3">
            <% link_to "https://jaclynperroneart.etsy.com/listing/631919370/rooftops-colorful-art-abstract-prints", target: "_blank" do %>
            <%= image_tag "portfolio/prints/rooftops.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Rooftops" %>
            <% end %>
          </li>
          <li class="print-4">
            <% link_to "https://jaclynperroneart.etsy.com/listing/639567488/brooklyn-sunset-abstract-colorful-art", target: "_blank" do %>
            <%= image_tag "portfolio/prints/brooklyn-sunset.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Brooklyn Sunset" %>
            <% end %>
          </li>
          <li class="print-5">
            <% link_to "https://jaclynperroneart.etsy.com/listing/634404978/autumn-colorful-abstract-art-prints", target: "_blank" do %>
            <%= image_tag "portfolio/prints/autumn.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Autumn" %>
            <% end %>
          </li>
          <li class="print-7">
            <% link_to "https://jaclynperroneart.etsy.com/listing/639580956/alive-art-prints-abstract-city-brooklyn", target: "_blank" do %>
            <%= image_tag "portfolio/prints/alive.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Alive" %>
            <% end %>
          </li>
          <li class="print-6">
            <% link_to "https://jaclynperroneart.etsy.com/listing/653418157/guernsey-prints-art-abstract-line-wall", target: "_blank" do %>
            <%= image_tag "portfolio/prints/guernsey.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Guernsey" %>
            <% end %>
          </li>
          <li class="print-9">
            <% link_to "https://jaclynperroneart.etsy.com/listing/653417625/lush-colorful-art-abstract-prints-house", target: "_blank" do %>
            <%= image_tag "portfolio/prints/lush.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Lush" %>
            <% end %>
          </li>
          <li class="print-10">
            <% link_to "https://jaclynperroneart.etsy.com/listing/653412359/green-valley-art-prints-colorful", target: "_blank" do %>
            <%= image_tag "portfolio/prints/green-valley.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Green Valley" %>
            <% end %>
          </li>
          <li class="print-11">
            <% link_to "https://jaclynperroneart.etsy.com/listing/648231049/red-field-abstract-colorful-art-prints", target: "_blank" do %>
            <%= image_tag "portfolio/prints/red-field.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Red Field" %>
            <% end %>
          </li>
          <li class="print-12">
            <% link_to "https://jaclynperroneart.etsy.com/listing/645721867/williamsburg-ii-art-abstract-prints", target: "_blank" do %>
            <%= image_tag "portfolio/prints/willburg-ii.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Williamsburg II" %>
            <% end %>
          </li>
          <li class="print-13">
            <% link_to "https://jaclynperroneart.etsy.com/listing/631920732/midnight-abstract-colorful-art-prints", target: "_blank" do %>
            <%= image_tag "portfolio/prints/midnight.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Midnight" %>
            <% end %>
          </li>
          <li class="print-14">
            <% link_to "https://jaclynperroneart.etsy.com/listing/645736797/winter-street-art-colorful-wall-prints", target: "_blank" do %>
              <%= image_tag "portfolio/prints/winter-street.jpg",
                :class => "portfolio__image portfolio__image--print",
                :alt => "Winter Street" %>
            <% end %>
          </li>
          <li class="print-15">
            <% link_to "https://jaclynperroneart.etsy.com/listing/703978577/tremont-art-colorful-wall-prints", target: "_blank" do %>
            <%= image_tag "portfolio/prints/tremont.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Tremont" %>
            <% end %>
          </li>
          <li class="print-16">
            <% link_to "https://jaclynperroneart.etsy.com/listing/966732757/great-smoky-mountains-art-prints", target: "_blank" do %>
            <%= image_tag "portfolio/prints/smoky-mountains.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Great Smoky Mountains" %>
            <% end %>
          </li>
          <li class="print-17">
            <% link_to "https://jaclynperroneart.etsy.com/listing/637167536/midtown-abstract-art-prints-line-wall", target: "_blank" do %>
            <%= image_tag "portfolio/prints/midtown.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Midtown" %>
            <% end %>
          </li>
          <li class="print-18">
            <% link_to "https://jaclynperroneart.etsy.com/listing/639580170/fractured-art-prints-abstract-colorful", target: "_blank" do %>
            <%= image_tag "portfolio/prints/fractured.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Fractured" %>
            <% end %>
          </li>
          <li class="print-19">
            <% link_to "https://jaclynperroneart.etsy.com/listing/703976943/pastel-city-art-cityscape-prints", target: "_blank" do %>
            <%= image_tag "portfolio/prints/pastel-city.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Pastel City" %>
            <% end %>
          </li>
          <li class="print-20">
           <% link_to "https://jaclynperroneart.etsy.com/listing/653418797/williamsburg-i-prints-art-abstract-line", target: "_blank" do %>
            <%= image_tag "portfolio/prints/willburg-i.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Williamsburg I" %>
            <% end %>
          </li>
          <li class="print-25">
            <% link_to "https://jaclynperroneart.etsy.com/listing/645742809/forest-colorful-abstract-art-prints-wall", target: "_blank" do %>
            <%= image_tag "portfolio/prints/forest.jpg",
              :class => "portfolio__image test",
              :alt => "Forest" %>
            <% end %>
          </li>
          <li class="print-24">
            <% link_to "https://jaclynperroneart.etsy.com/listing/631908658/afterglow-colorful-abstract-art-prints", target: "_blank" do %>
            <%= image_tag "portfolio/prints/afterglow.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Afterglow" %>
            <% end %>
          </li>
          <li class="print-22">
            <% link_to "https://jaclynperroneart.etsy.com/listing/966739273/brushy-mountain-trail-art-prints-smoky", target: "_blank" do %>
            <%= image_tag "portfolio/prints/brushy-mountain-trail.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Brushy Mountain Trail" %>
            <% end %>
          </li>
          <li class="print-27">
            <% link_to "https://jaclynperroneart.etsy.com/listing/634395928/upper-west-side-abstract-art-prints-line", target: "_blank" do %>
            <%= image_tag "portfolio/prints/uws.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Upper West Side" %>
            <% end %>
          </li>
          <li class="print-8">
            <%= image_tag "portfolio/prints/venice.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Venice" %>
          </li>
          <li class="print-26">
            <% link_to "https://jaclynperroneart.etsy.com/listing/639581906/tree-house-colorful-abstract-art-prints", target: "_blank" do %>
            <%= image_tag "portfolio/prints/treehouse.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Treehouse" %>
              <% end %>
          </li>
          <li class="print-21">
            <% link_to "https://jaclynperroneart.etsy.com/listing/648237759/green-house-art-prints-colorful-abstract", target: "_blank" do %>
            <%= image_tag "portfolio/prints/green-house.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Green House" %>
            <% end %>
          </li>
          <li class="print-23">
            <% link_to "https://jaclynperroneart.etsy.com/listing/1075559347/forest-walk-art-prints-hike-colorful", target: "_blank" do %>
            <%= image_tag "portfolio/prints/forest-walk.jpg",
              :class => "portfolio__image portfolio__image--print",
              :alt => "Forest Walk" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section-container">
  <div class="section-content">
    <div class="section-content__wrapper">
      <h2 class="section-content__heading">Planters</h2>

      <div class="portfolio--planters">
        <ul class="portfolio__grid">
          <li class="planter-1">
            <%= image_tag "portfolio/planters/planter-md-teal.jpg",
              :class => "portfolio__image",
              :alt => "Planter Medium Teal" %>
          </li>
          <li class="planter-2">
            <%= image_tag "portfolio/planters/planter-md-pink.jpg",
              :class => "portfolio__image",
              :alt => "Planter Medium Pink" %>
          </li>
          <li class="planter-3">
            <%= image_tag "portfolio/planters/group-2.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 2" %>
          </li>
          <li class="planter-4">
            <%= image_tag "portfolio/planters/planter-lg-yellow.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large Yellow" %>
          </li>
          <li class="planter-5">
            <%= image_tag "portfolio/planters/group-1.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 1" %>
          </li>
          <li class="planter-6">
            <%= image_tag "portfolio/planters/planter-lg-lgtpink.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large Light Pink" %>
          </li>
          <li class="planter-7">
            <%= image_tag "portfolio/planters/planter-lg-orange.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large Orange" %>
          </li>
          <li class="planter-8">
            <%= image_tag "portfolio/planters/group-3.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 3" %>
          </li>
          <li class="planter-9">
            <%= image_tag "portfolio/planters/planter-lg-lgtblue.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large Light Blue" %>
          </li>
          <li class="planter-10">
            <%= image_tag "portfolio/planters/dish-sm-white.jpg",
              :class => "portfolio__image",
              :alt => "Dish Small White" %>
          </li>
          <li class="planter-11">
            <%= image_tag "portfolio/planters/group-4.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 4" %>
          </li>
          <li class="planter-12">
            <%= image_tag "portfolio/planters/dish-lg-pink.jpg",
              :class => "portfolio__image",
              :alt => "Dish Large Pink" %>
          </li>
          <li class="planter-13">
            <%= image_tag "portfolio/planters/planter-sm-blue.jpg",
              :class => "portfolio__image",
              :alt => "Planter Small Blue" %>
          </li>
          <li class="planter-14">
            <%= image_tag "portfolio/planters/group-5.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 5" %>
          </li>
          <li class="planter-15">
            <%= image_tag "portfolio/planters/dish-lg-blue.jpg",
              :class => "portfolio__image",
              :alt => "Dish Large Blue" %>
          </li>
          <li class="planter-16">
            <%= image_tag "portfolio/planters/group-7.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 7" %>
          </li>
          <li class="planter-17">
            <%= image_tag "portfolio/planters/group-8.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 8" %>
          </li>
          <li class="planter-18">
            <%= image_tag "portfolio/planters/group-6.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 6" %>
          </li>
          <li class="planter-19">
            <%= image_tag "portfolio/planters/dish-sm-pink.jpg",
              :class => "portfolio__image",
              :alt => "Dish Small Pink" %>
          </li>
          <li class="planter-20">
            <%= image_tag "portfolio/planters/group-11.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 11" %>
          </li>
          <li class="planter-21">
            <%= image_tag "portfolio/planters/planter-lg-pink.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large Pink" %>
          </li>
          <li class="planter-22">
            <%= image_tag "portfolio/planters/planter-xs-pink.jpg",
              :class => "portfolio__image",
              :alt => "Planter Extra Small Pink" %>
          </li>
          <li class="planter-23">
            <%= image_tag "portfolio/planters/planter-lg-white.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large White" %>
          </li>
          <li class="planter-24">
            <%= image_tag "portfolio/planters/group-9.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 9" %>
          </li>
          <li class="planter-25">
            <%= image_tag "portfolio/planters/group-10.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 10" %>
          </li>
          <li class="planter-26">
            <%= image_tag "portfolio/planters/planter-md-lgtblue.jpg",
              :class => "portfolio__image",
              :alt => "Planter Medium Light Blue" %>
          </li>
          <li class="planter-27">
            <%= image_tag "portfolio/planters/group-12.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 12" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
