---
title: Jaclyn Perrone - Corvus Insurance Case Study
type: case study
---

<section class="section-container section-container--designer">
  <div class="section-content gradient-border-wrap gradient-border-wrap--first">
    <div class="gradient-border-wrap__module">
      <div class="article">
        <div class="section-content__header">
          <h2 class="section-content__heading section-content__heading--tilt">Case study</h2>
          <h2 class="section-content__subheading">Corvus Insurance</h2>
        </div>

        <ul class="tag-list">
          <li class="tag-list__item">🤝 Client work</li>
          <li class="tag-list__item">💁‍♀️ Creator & facilitator</li>
          <li class="tag-list__item">🛠️ Workshop design</li>
          <li class="tag-list__item">🙌 Level up team</li>
          <li class="tag-list__item">💡 Design Thinking Workshop</li>
          <li class="tag-list__item">📈 Product road map</li>
        </ul>

        <h3 class="article__heading">Challenge</h3>
        <p>Corvus sells Smart Commercial Insurance with a focus on cyber risk. They make their products smarter by applying findings from new sources of data analyzed with machine learning and AI techniques. They deliver novel insights to their broker partners, helping to make them smarter about complex risks their clients face. And they’re transforming an industry that lacks transparency by informing the insurance buyer, helping them to be smarter about practices to mitigate risk and prevent loss.</p>

        <p>thoughtbot worked with Corvus back in 2017 when they were a small startup in the midst of releasing their MVP to market. Fast forward three years, Corvus continues to show incredible progress and success in their industry, proven by their growing team and customer-base. The culmination of this growth led them to their first ever company-wide summit with customers held in February 2020. They saw this summit as an opportunity to bring both their employees and customers together to unify everyone who is part of the Corvus experience.</p>

        <div class="article__image-container">
          <div class="article__image">
            <%= image_tag "corvus-presentation.jpg",
                :class => "",
                :alt => "Presenting to the Corvus team" %>
          </div>
          <div class="article__caption">Kicking off the Design Thinking Workshop with the Corvus team</div>
        </div>

        <p>Corvus asked thoughtbot to design a day's worth of design thinking exercises for their summit with a few objectives in mind. They wanted something different, interesting, and thought-provoking for their company and customers to partake in. They are at a point in their company's journey where they can take a step back and reflect on what's worked well, what hasn't, and what they should be doing to ultimately take their product to the next level. Therefore, they wanted the day to be fun and interactive, to help them generate a ton of new ideas to prioritize and implement.</p>

        <p>Another objective was to show their appreciation for their customers by including them in the day's activities. They wanted to bring them behind-the-scenes to show their process, make them feel part of the team, and acknowledge that their presence, perspective, and input is valued. By inviting their customers to their summit, they also hoped to convey that they are a different type of insurance company–one that approaches problems from a user-centric design perspective.</p>

        <h3 class="article__heading">Solution</h3>

        <h2>Prepping with the Corvus team</h2>
        <p>With these objectives in mind, I created a Design Thinking Workshop made especially for the Corvus team. Knowing that they were going to have their customers there for the day, I knew that user interviews definitely needed to happen. Inviting customers to a company summit is such an inclusive thing for a company to do, and I wanted them to reap the benefits of all that juicy user feedback.</p>

        <p>With that in mind, the day was structured along the first three phases of the Design Thinking approach: Empathize, Define, and Ideate. This would tick off all the boxes in terms of their key objectives. It would put customers in the spotlight, it would be interactive, and it would generate a ton of ideas.</p>

        <p>All in all, it was a highly collaborative process, and open communication allowed myself and Corvus to work within a tight feedback loop to review and align on the workshop presentations and exercises.</p>

        <div class="article__image-container">
          <div class="article__image">
            <%= image_tag "corvus-employee.jpg",
                :class => "",
                :alt => "Corvus employee discussing learnings" %>
          </div>
          <div class="article__caption">A Corvus employee discusses learnings from his conversations with customers</div>
        </div>

        <h2 class="article__subheader">Workshop Day</h2>
        <p>On the day of the summit, I, along with a small team of thoughtbot facilitators, showed up to guide their group of 70 people through the Design Thinking Workshop, which ran from 9am - 4pm. The Corvus team secured a spacious hotel perfect for large group discussions and smaller breakout rooms.</p>

        <p>After a welcome and introduction, I started the morning off with a brief introduction to Design Thinking; what it is, why it's important, and how it applies to solving business problems. From there the workshop launched into the Design Thinking phases.</p>

        <div class="article__image-container">
          <div class="article__image">
            <%= image_tag "corvus-define.jpg",
                :class => "",
                :alt => "Presenting to the Corvus team" %>
          </div>
          <div class="article__caption">Introducing the Define phase to the Corvus team</div>
        </div>

        <p><strong>Empathize</strong><br />
        First we split the room up into small groups and helped the Corvus teams facilitate user interviews with the customers in attendance.</p>

        <p><strong>Define</strong><br />
        From here, everyone moved into the second phase, Define, by having the teams synthesize their findings from the user interviews and define a problem that they heard and would like to solve.</p>

        <p><strong>Iterate</strong><br />
        Finally, the day was closed out with the third phase of the Design Thinking approach: Iterate. The teams took the problem statements they created, and generated as many solutions as they could through individual and group sketching exercises.</p>

        <p>At the end of the day, it was a success! The Corvus team came away from that session with so many wonderful ideas and a newfound understanding for their customers' experience, and the customers said they were very happy and honored to be a part of it.</p>

        <div class="article__image-container">
          <div class="article__image">
            <%= image_tag "corvus-workshopping-1.jpg",
                :class => "",
                :alt => "Problem statements with a breakout group" %>
          </div>
          <div class="article__caption">Leading a discussion about creating problem statements</div>
        </div>

        <div class="article__image-container">
          <div class="article__image">
            <%= image_tag "corvus-workshopping-2.jpg",
                :class => "",
                :alt => "User stories with a breakout group" %>
          </div>
          <div class="article__caption">Walking a group through creating user stories</div>
        </div>

        <h3 class="article__heading">Outcome</h3>
        <p>Overall, the Design Thinking Workshop generated a lot of positive feelings and good brand association for Corvus' customers and team. They found that having an all-encompassing day made the relationships to their customers and team members feel more special, and thus deepened their sense of camaraderie. Corvus has seen a spike in activity from the customers who attended the summit, which has led to increased engagement and revenue. These customers feel more ownership in the product, which has made them more receptive and quick to respond when they are asked for feedback on product questions.</p>

        <p>The Design Thinking Workshop also informed Corvus' product roadmap, which was a huge win for their team. They came away with more ideas that they would like to implement, and learned to lean heavily on prioritization to keep them on track. By having sessions like this workshop, they feel better equipped to navigate their road map planning meetings more easily and efficiently.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-container section-container--artist">
  <%= partial "case-study-list-nav" %>
</section>
