---
title: Jaclyn Perrone - Groups Recover Together Case Study
type: case study
---

<section class="section-container">
  <div class="section-content">
    <div class="section-content__wrapper">
      <div class="article">
        <div class="section-content__header">
          <h2 class="section-content__heading">Case study</h2>
          <h2 class="section-content__subheading">Groups Recover Together</h2>
        </div>

        <ul class="tag-list">
          <li class="tag-list__item">🤝 Client work</li>
          <li class="tag-list__item">💁‍♀️ Design lead</li>
          <li class="tag-list__item">💬 User research</li>
          <li class="tag-list__item">⚡ Rapid prototyping</li>
          <li class="tag-list__item">💡 Idea validation</li>
          <li class="tag-list__item">🧩 MVP release</li>
        </ul>

        <h3 class="article__heading">01. Challenge</h3>

        <p>Groups Recover Together is an organization that helps its 6,000+ members recover from opioid addiction in 80+ physical locations across the United States. They do this by coupling weekly group therapy sessions with prescriptions to Suboxone (a treatment that reduces withdrawal symptoms). They also have members create and uphold Treatment Plans, which keeps them motivated and accountable on their path to recovery.</p>

        <p>They approached us in the fall of 2020, eight months after they had to close their physical locations due to the COVID-19 pandemic. In the time leading up to working with us, they quickly scrapped together a solution that would move their staff operations and group therapy sessions online. They were worried about the switch to remote therapy via video conferencing, for they were unsure of its efficacy and ability to retain and find new members. However, much to their surprise and delight, they discovered that virtual care not only yields similar clinical outcomes to in-person care, but can improve access and retention.</p>

        <div class="article__image-container">
          <div class="article__image ui">
            <%= image_tag "groups-outcomes.png",
                :class => "",
                :alt => "Virtual care clinical outcomes" %>
          </div>
          <div class="article__caption">All critical clinical outcomes – including abstinence from illicit opioids, attendance at appointments, and retention in treatment – so far show identical performance</div>
        </div>

        <p>This brings us to the work we did together. Armed with the positive data they needed to measure the efficacy of virtual treatment, they decided to hire a product design and development partner to create a scalable, seamless, and polished online platform – not only for new and existing members, but for their staff as well.</p>


        <h3 class="article__heading">02. Process</h3>

        <h2 class="article__subheader">Empathize</h2>
        <p>I led our team of three developers, two designers (myself included), and six Groups teammates through a Product Design Sprint to uncover our assumptions, identify user pain points, brainstorm ideas, and align on a path forward. There were many possibilities for what the first version of this new platform will include, so we gathered to answer two questions in order to begin design and development:</p>

        <div class="card card--list card--blue">
          <h4 class="card__heading">Key questions</h4>
          <ul class="list list--checks">
            <li>What is the minimum set of features that will improve the daily lives of Groups staff and members?</li>
            <li>What is practical to build and roll out given organizational and technological constraints?</li>
          </ul>
        </div>

        <div class="article__image-container">
          <div class="article__image ui">
            <%= image_tag "groups-sprint.jpg",
                :class => "",
                :alt => "Storyboards" %>
          </div>
          <div class="article__caption">Storyboarding session during the Design Sprint</div>
        </div>

        <p>After leading the team through problem statement, critical path, persona building, and rapid sketching exercises, we aligned on the designs we needed to create a prototype to test with seven Groups members and staff personnel. Overall, our testing sessions helped us validate and invalidate some key assumptions (which ultimately saved us a ton of time!), and we landed on some helpful insights moving forward:</p>

        <div class="heading-lockup">
          <div class="heading-lockup__item">
            <h5 class="heading-lockup__subheading">Insight 1</h5>
            <h4 class="heading-lockup__heading">Remove as much friction as possible in the sign up flow to ensure members complete it and get the care they need</h4>
          </div>

          <div class="heading-lockup__item">
            <h5 class="heading-lockup__subheading">Insight 2</h5>
            <h4 class="heading-lockup__heading">Bridge the gap between in-person and virtual therapy sessions by weaving a clear human voice throughout the UI</h4>
          </div>

          <div class="heading-lockup__item">
            <h5 class="heading-lockup__subheading">Insight 3</h5>
            <h4 class="heading-lockup__heading">Acknowledge and surface small wins to encourage members to continue on their path to recovery</h4>
          </div>
        </div>

        <p>With these insights in mind, we moved forward with the design and development of our first iteration of the app experience. It consisted of three major parts: an account creation flow for new members via web, a React Native app for members to manage their account and join video sessions, and a Treatment Plan builder for members to keep track of their goals while in the program.</p>

        <p>I was the lead UX and visual designer for the Groups member app experience. Ultimately,  I let the member's psyche inform my decisions around the information architecture and user experience. Through user interviews I heard first-hand accounts of the moments leading up to someone asking for help with their addiction. In those moments, they are sick and in an incredibly vulnerable state. The smallest friction or hurdle could cause them turn their back on getting the care they need. In fact, almost half of all scheduled intake appointments are no-shows. This is why it was crucial that we created a seamless experience that was not only intuitive and easy to use, but also encouraging and supportive.</p>

        <h3 class="article__heading">03. Outcome</h3>

        <p>To help achieve this seamless experience, I made sure to pay close attention to detail within the visual design and UX writing. As you'll see in the mockups below, I took a lot of care in getting the tone, imagery, and overall look and feel to be a cohesive, coherent voice. I did this to show members that a lot of thought went into this experience, and that the team that created this has their best interests at heart. I wanted them to feel taken care of – like they are talking with a friend who has no judgement and is there to help. I wanted the app to look and feel and sound human – especially since this is a substitute for the in-person experience.</p>

        <p>In addition to these details, I also wanted to hand-hold members through tasks that might feel overwhelming or at times impossible (e.g. uploading urine samples, signing consent forms, and uploading insurance photos). As you will see in the below examples, I did this by creating a wizard pattern that I used throughout the app to guide a member through tasks using positive reinforcement and a streamlined UI. I wanted this experience to be kind  – to not just tell them what to do or be a detached computer – but to be a partner to them and help them through tasks without shame or judgement.</p>

        <h2 class="article__subheader">Member Portal</h2>

        <p>In order to ensure an inclusive digital experience, we had to support new remote members who lived too far from a Groups physical location. In addition to providing members the ability to join their therapy sessions via video, they also needed a way to perform a few required self-service actions:</p>

        <div class="card card--list card--blue">
          <h4 class="card__heading">Self-service actions</h4>
            <ul class="list list--checks">
              <li>Sign consent forms</li>
              <li>Upload photo/insurance ID</li>
              <li>Submit drug screens</li>
            </ul>
        </div>

        <p>This is where idea of hand-holding came into play, as mentioned above when talking about the member's psyche. We incorporated the wizard pattern I designed throughout the app, whenever we wanted to give a member extra guidance around an important task.</p>

         <div class="article__image-container article__image-container--4up">
          <div class="article__image ui">
            <%= image_tag "groups-hipaa-1.png",
                :class => "border",
                :alt => "HIPAA flow" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-hipaa-2.png",
                :class => "border",
                :alt => "HIPAA flow" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-hipaa-3.png",
                :class => "border",
                :alt => "HIPAA flow" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-hipaa-4.png",
                :class => "border",
                :alt => "HIPAA flow" %>
          </div>
          <div class="article__caption">A new member signing HIPAA and Consent to Treatment forms</div>
        </div>

        <div class="article__image-container article__image-container--4up">
          <div class="article__image ui">
            <%= image_tag "groups-id-1.png",
                :class => "border",
                :alt => "ID upload flow" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-id-2.png",
                :class => "border",
                :alt => "ID upload flow" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-id-3.png",
                :class => "border",
                :alt => "ID upload flow" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-id-4.png",
                :class => "border",
                :alt => "ID upload flow" %>
          </div>
          <div class="article__caption">A new member uploading their health insurance and photo IDs</div>
        </div>

        <div class="article__image-container article__image-container--4up">
          <div class="article__image ui">
            <%= image_tag "groups-screen-1.png",
                :class => "border",
                :alt => "Results upload flow" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-screen-2.png",
                :class => "border",
                :alt => "Results upload flow" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-screen-3.png",
                :class => "border",
                :alt => "Results upload flow" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-screen-4.png",
                :class => "border",
                :alt => "Results upload flow" %>
          </div>
          <div class="article__caption">A member uploading their weekly drug screen test results</div>
        </div>

        <h2 class="article__subheader" id="treatmentplan">Updating the Treatment Plan</h2>

        <p>The Treatment Plan is something that every member has to create and maintain throughout their time at Groups – and until now was always done in person, on paper. It holds them accountable to enact positive change in their lives. It comprises of at least three goals, each broken down into smaller achievable objectives – and each one of those objectives has modularities. It can get real complicated real quick, and the design and build of the Treatment Plan was a whole project in and of itself. There were lots of decisions to make: How do we help members make batch updates? How do they copy over unresolved objectives to the next plan? How do they create new goals? Designing it was truly an iterative process, and was informed by user testing sessions to get it to where it is today.</p>


        <div class="article__image-container article__image-container--4up">
          <div class="article__image ui">
            <%= image_tag "groups-plan-1.png",
                :class => "border",
                :alt => "Update Treatment Plan flow" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-plan-2.png",
                :class => "border",
                :alt => "Update Treatment Plan flow" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-plan-3.png",
                :class => "border",
                :alt => "Update Treatment Plan flow" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-plan-4.png",
                :class => "border",
                :alt => "Update Treatment Plan flow" %>
          </div>
          <div class="article__caption">A member updating their Treatment Plan</div>
        </div>

        <div class="article__embed-container">
            <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="600" height="600" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FDm98Z2CYmdKJ7Ku1ouZxvj%2FGroups-Recover-Together-%25E2%2580%2593-Treatment-Plan%3Fpage-id%3D0%253A1%26node-id%3D2%253A1353%26viewport%3D307%252C48%252C0.17%26scaling%3Dscale-down%26starting-point-node-id%3D2%253A1353" allowfullscreen></iframe>
        </div>

        <div class="article__image-container article__image-container--4up article__image-container--mobile-only">
          <div class="article__image ui">
            <%= image_tag "groups-goal-1.png",
                :class => "",
                :alt => "Add goal flow" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-goal-2.png",
                :class => "",
                :alt => "Add goal flow" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-goal-3.png",
                :class => "",
                :alt => "Add goal flow" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-goal-4.png",
                :class => "",
                :alt => "Add goal flow" %>
          </div>
          <div class="article__caption">Excerpts from the "Add Goal to Treatment Plan" flow</div>
        </div>

        <h2 class="article__subheader">Onboarding Content</h2>

        <p>We also talked about how and when to show members articles, videos, and other pieces of important content. The Groups team has a bunch of informative, well-produced, well-thought out content that's important for a member to view – to not only help them onboard but to help them feel less alone in their journey. Due to the importance of this content, I knew that context, quantity, and relevance were key to getting members to engage with particular articles or videos.</p>

        <p>Therefore, rather than putting all the content in a separate section of the app, I recommended that we instead only serve up a couple pieces of content at a time on the home screen, that depend on where a member is in their journey. For example, a new member who has yet to go through the intake process will see different articles from someone who has completed their first group therapy session.</p>


        <div class="article__image-container article__image-container--2up">
          <div class="article__image ui">
            <%= image_tag "groups-content-1.png",
                :class => "",
                :alt => "Content on homescreen" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-content-2.png",
                :class => "",
                :alt => "Content on homescreen" %>
          </div>
          <div class="article__caption">Examples of contextual pieces of content on the homescreen</div>
        </div>

        <p>After getting the cadence and relevance down, my next step was to add visual design elements to the articles. I was handed plain Word docs, and in MVP-land I could've just split all the copy into &lt;p&gt; tags and headings and called it a day. But I felt a duty to add illustrations and typography design for readability and user delight, and incorporated the visual branding I developed for the app. This way, the articles felt not only part of the app experience, but tailored and thoughtful – to convey to members that the team who built this app cares about them and their recovery.</p>

         <div class="article__image-container article__image-container--4up">
          <div class="article__image ui">
            <%= image_tag "groups-article-1.png",
                :class => "",
                :alt => "Article exerpt" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-article-2.png",
                :class => "",
                :alt => "Article exerpt" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-article-3.png",
                :class => "",
                :alt => "Article exerpt" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "groups-article-4.png",
                :class => "",
                :alt => "Article exerpt" %>
          </div>
          <div class="article__caption">Examples of typography design in articles</div>
        </div>


        <h2 class="article__subheader">Conclusion</h2>
        <p>Overall, the MVP was a success in that it set Groups Recover Together up to further fulfill their mission to bring care to more people throughout the country. The features we designed and built were also in service to measuring their three main metrics – attendance, abstinence, and retention – to determine whether supporting remote treatment is beneficial not only to their members, but to their business as a whole. If according to the data, remote-treatment continues to be just as, if not more effective, than in-person treatment, then the team will continue to iterate on their app to further explore ways to give members a truly unique and empowering digital experience throughout their recovery.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-container">
  <%= partial "case-study-list" %>
</section>
