---
title: Jaclyn Perrone - Harvard Business Review Case Study
type: case study
---

<section class="section-container section-container--designer">
  <div class="section-content gradient-border-wrap gradient-border-wrap--first">
    <div class="gradient-border-wrap__module">
      <div class="article">
        <div class="section-content__header">
          <h2 class="section-content__heading section-content__heading--tilt">Case study</h2>
          <h2 class="section-content__subheading">Harvard Business Review</h2>
        </div>

        <ul class="tag-list">
          <li class="tag-list__item">🤝 Client work</li>
          <li class="tag-list__item">💁‍♀️ Lead facilitator</li>
          <li class="tag-list__item">🏃‍♀️ Product Design Sprint</li>
          <li class="tag-list__item">📱 User testing</li>
          <li class="tag-list__item">⚡ Rapid prototyping</li>
          <li class="tag-list__item">👏 Team cohesion</li>
          <li class="tag-list__item">💡 Idea validation</li>
        </ul>

        <h3 class="article__heading">Challenge</h3>

        <p>The product team at HBR.org came to us with a problem. They have so much content by way of articles, videos, and podcasts that they believe their subscribers have a hard time finding the pieces that apply directly to them. On their site, subscribers are given a search tool that’s not intuitive or cognizant of their desired areas of growth. They have a mobile app that doesn’t solve this problem, but instead emphasizes the point that they have trouble connecting subscribers with the content that interests them. Therefore, they wanted to answer the following question: <strong>Do our subscribers want content curated just for them?</strong></p>

        <p>They defined their business challenge, but they also needed a way to align their various teams on an idea. This curation challenge made its way through various internal groups at HBR, from marketing to editorial to product. Everyone had done work on this particular problem, and it was important that they could come together and agree on a potential solution to try.</p>

        <div class="article__image-container">
          <div class="article__image">
            <%= image_tag "hbr-curate-path.jpg",
                :class => "",
                :alt => "Critical Path" %>
          </div>
          <div class="article__caption">Whiteboard of our critical path</div>
        </div>

        <p>I knew a Product Design Sprint was needed to get the different teams in a room to gain consensus on an idea and agree upon a path forward. I also knew that I needed to act as a meditator of sorts. A facilitator acting as a moderator who would encourage usually silent contributors to speak up, and to keep conversations moving and tangent-lite.</p>

        <p>The HBR team showed up on Monday as a group of 16. That plus me and another designer brought the total to 18. Their roles varied, from C-suite (Editor, Creative Director, Publisher), to IC (individual contributors, such as Product and UX designers). So many different roles, so many different perspectives and experiences. I knew it was crucial to keep them talking to each other, to encourage them to tell their stories and share their own ideas and expectations.</p>

        <h3 class="article__heading">Process</h3>

        <p>Being that the group for this Sprint was almost 4x the ideal size, I made adjustments to the format that featured smaller break out groups for activities such as researching competitors and creating storyboards. I also stretched the Understand phase out to two days instead of the usual one, to account for an incredible information download, lots of conversation, and of course, more breaks.</p>

        <div class="article__image-container">
          <div class="article__image">
            <%= image_tag "hbr-curate-sketches.jpg",
                :class => "",
                :alt => "Sketches" %>
          </div>
          <div class="article__caption">Sketches during the Diverge phase</div>
        </div>

        <div class="article__image-container">
          <div class="article__image">
            <%= image_tag "hbr-curate-storyboard.jpg",
                :class => "",
                :alt => "Storyboard" %>
          </div>
          <div class="article__caption">Votes on a storyboard idea</div>
        </div>

        <p>Over the course of four days, moving through the Understand, Converge, and Diverge phases of the Sprint, the group gained consensus on a path forward. After all the discussing, brainstorming, sketching, writing, sharing, and voting we went through, it was really incredible to see a group that large come together on a singular idea.</p>

        <p>On Prototype day, the other designer and I collaborated on a prototype in Sketch that featured an onboarding flow that led the user to curated bundles of content that aligned with their interests. The idea would be that after answering a few questions at the beginning, they would receive a growth plan that featured curated content specific to their particular areas of desired growth. For example, if they said they wanted to be a better manager, they would get a bundle of articles, videos, and podcasts that would help grow their emotional intelligence.</p>

        <div class="article__image-container">
          <div class="article__image">
            <%= image_tag "hbr-curate-flow.jpg",
                :class => "",
                :alt => "Final storyboard" %>
          </div>
          <div class="article__caption">Our final storyboard on Converge day</div>
        </div>

        <p>The main thing idea that we wanted to test was: when presented with a progress bar and a specific bundle of content to complete, would users be more likely to engage and consume the content? Would they also trust the content and believe that it’s relevant to them after answering a series of questions during onboarding? Would they even go through onboarding?</p>

        <h3 class="article__heading">Outcome</h3>

        <p>Because we wanted to give the HBR team as much confidence on a path forward as we could, we decided to do two additional weeks of user testing and iteration with our Sprint prototype. The HBR folks sourced interested HBR subscribers from all over the world as participants for our user testing, and we hit the ground running.</p>

        <div class="article__image-container article__image-container--stretch article__image-container--5up">
          <div class="article__image ui">
            <%= image_tag "hbr-curate-prototype-1.jpg",
                :class => "border",
                :alt => "Prototype screen" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "hbr-curate-prototype-2.jpg",
                :class => "border",
                :alt => "Prototype screen" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "hbr-curate-prototype-3.jpg",
                :class => "border",
                :alt => "Prototype screen" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "hbr-curate-prototype-4.jpg",
                :class => "border",
                :alt => "Prototype screen" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "hbr-curate-prototype-5.jpg",
                :class => "border",
                :alt => "Prototype screen" %>
          </div>
          <div class="article__caption">A selection of screens from the prototype</div>
        </div>

        <p>We held eight interviews with HBR subscribers where we asked background questions for our research, as well as received feedback on our prototype. After the first four interviews, we iterated on our prototype to address any common questions or pitfalls that caused any hiccups or confusions. After we completed the final round of interviews, we synthesized our feedback and presented our findings and recommendations to the HBR team at large.</p>

        <p>Overall, the main idea of the prototype was well-received, but the team needed to continue iterating on ways to execute that idea. Our users responded positively to the idea of getting curated content in different formats. There was more exploration to be done around on onboarding, user preferences, and notifications.</p>

        <p>We ultimately made the recommendation that they narrow their focus even more to a singular user type (like a first-time manager), because our broad onboarding questions were difficult to relate to and often missed the mark. We also encouraged the team to look beyond content, and see how else they could address common pain points we heard in our interviews around mentorship and networking.</p>

        <p>The HBR was so happy with the work we did over these three weeks, and felt a renewed sense of collaboration and connectedness within their team, across the different departments. They truly are an incredible group of people to work with, and we were so happy to have the opportunity to work with them again the following year.

        <%= link_to "You can read about that experience here.",
                    "/case-studies/hbr-share",
                    :class => "anchor-reset" %>
        </p>
      </div>

      <div class="takeaways">
        <h3 class="takeaways__heading featured-content-heading"><span>Takeaways for you and your team<span></h3>
        <div class="takeaways__content">
          <h4>✅ Surface sprint goals</h4>
          <p>When presented with the task to facilitate a large group of people (in this case it was 18), be clear on who is in your group, what their existing dynamics are, and what your goals are.</p>
          <p>In this Sprint, the ultimate goal was to facilitate conversations across different departments to ultimately gain consensus on an idea. The idea itself wasn’t the most important thing. It was the opportunity to share ideas in a safe space, feel heard, and to get on the same page as a unified team.</p>
        </div>
        <div class="takeaways__content">
          <h4>🌍 Consider international users</h4>
          <p>We interviewed users from all over the globe: Africa, Canada, Germany, US, and Sweden. Being that everyone had different remote capabilities, we agreed upon video conferencing software before we met for our interviews. We also found that the easiest way to compensate everyone for their time was through digital Amazon gift cards. You just need to ask which Amazon site is convenient for them, whether it be .com, .ca, .co.uk, etc.</p>
        </div>

        <div class="takeaways__content">
          <h4>💥 Breakup large groups</h4>
          <p>When facilitating for a large group, my general rule of thumb is less talking, more writing. I encourage activities where people can individually brainstorm to ultimately present to the group at large. This is especially inclusive for those who struggle to speak up in large group settings.</p>
          <p>I also encourage breakout groups with no more than three people. The larger the group gets, the harder it is to collaborate and participate. And also, consider dot voting to be your new best friend. It’s been the single-most effective tool I’ve used to help large groups narrow focus on a single idea.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-container section-container--artist">
  <%= partial "case-study-list" %>
</section>
