---
title: Jaclyn Perrone - Harvard Business Review Case Study
type: case study
---

<section class="section-container section-container--designer">
  <div class="section-content gradient-border-wrap gradient-border-wrap--first">
    <div class="gradient-border-wrap__module">
      <div class="article">
        <div class="section-content__header">
          <h2 class="section-content__heading section-content__heading--tilt">Case study</h2>
          <h2 class="section-content__subheading">Harvard Business Review</h2>
        </div>

        <ul class="tag-list">
          <li class="tag-list__item">🤝 Client work</li>
          <li class="tag-list__item">💁‍♀️ Lead facilitator</li>
          <li class="tag-list__item">🏃‍♀️ Product Design Sprint</li>
          <li class="tag-list__item">💬 Generative user research</li>
          <li class="tag-list__item">⚡ Rapid prototyping</li>
          <li class="tag-list__item">💡 Idea validation</li>
        </ul>

        <h3 class="article__heading">Challenge</h3>

        <p>The HBR.org team came back and presented us with another challenge, different from the
          <%= link_to(
            "content curation challenge",
            "/case-studies/hbr-curation",
            :class => "anchor-reset",
            :target => "_blank"
            ) %>
         we helped them with a year before. This time, the team was noodling on the idea of a mobile offering. They have an app, but it’s just another way to browse and find content, which their site already does. It doesn’t address a particular concern, or solve a particular problem. The HBR team wanted help brainstorming ideas to uncover possible mobile offerings.</p>

        <p>My first thought and question was, “does it need to be an app?” We were all on the same page about how we shouldn’t start out with a solution, but I wanted to support their thought process and help them entertain this idea. We’ve
          <%= link_to(
            "worked together before",
            "/case-studies/hbr-curation",
            :class => "anchor-reset",
            :target => "_blank"
            ) %>
        and I know how receptive they are to new ideas and pushbacks, so I figured they’d be open to exploring over avenues if it becomes clear that our idea does not have to live as an app.</p>

        <div class="article__image-container">
          <div class="article__image">
            <%= image_tag "hbr-share-stickies.jpg",
                :class => "",
                :alt => "Assumptions" %>
          </div>
          <div class="article__caption">A sea of assumptions</div>
        </div>

        <h3 class="article__heading">Process</h3>

        <h2>Generative research with stakeholders and users</h2>
          <p>Being that they didn’t have a particular user pain point to address, we proposed starting out with an initial round of stakeholder and user interviews to see if we can find commonalities. The HBR team we’d be working with this time was much smaller and more focused than the
            <%= link_to(
              "original group of 16.",
              "/case-studies/hbr-curation",
              :class => "anchor-reset",
              :target => "_blank"
              ) %>
          Therefore, we wanted to make sure we heard from stakeholders from other departments (eg. Publishing, Product), to get their perspective and share it with the core team. We wanted to make them feel part of the team and that their insights are being taken into consideration. I figured this would alleviate any pushback that might happen in the end from people who didn’t feel part of the process.</p>

          <p>Once we heard from stakeholders, we interviewed eight HBR subscribers about their experience with the product to uncover any frustrations or opportunities for improvement. After synthesis, we uncovered five common insights we heard from our subscribers:</p>

          <div class="card card--columns card--list card--blue card-pattern--kiwi">
            <h4 class="card__heading"><span>Subscriber insights</span></h4>
            <div class="card__col">
              <ul class="list list--checks">
                <li>They seek a 1:1 interactive relationship</li>
                <li>They foster connections with others in their field</li>
                <li>They use HBR as a learning/teaching tool for others</li>
              </ul>
            </div>
            <div class="card__col">
              <ul class="list list--checks">
                <li>HBR fills in training gaps and facilitates leveling up quickly</li>
                <li>They seek more relevant content to them</li>
              </ul>
            </div>
          </div>

          <p>Once we had these insights, I facilitated a Product Design Sprint with the HBR team and two other thoughtbot designers. Usually when you start a Sprint, you have a problem established that you want to solve. Since HBR came to us with the challenge of uncovering a problem, I used the insights as our first step towards identifying a problem. We presented our research, and had the HBR team vote on which insight they would like to move forward with. They used a combination of their expertise and intuition to pick a direction.</p>

          <p>They ultimately converged on: <strong>They use HBR as a learning/teaching tool for others.</strong> It was something they knew about their subscribers, and also knew that they could do more to make this experience better. The most common pain point we heard among subscribers was that they wanted a way to share (gated) content with non-subscribers (their coworkers).</p>

          <h2 class="article__subheader">Product Design Sprint</h2>
          <p>Once we narrowed in on the pain point around sharing content, we went through the Sprint phases to mitigate the risk inherent to bringing a new product to market. We captured the riskiest assumptions that we wanted to validate or invalidate, to ultimately give us the confidence we needed to determine how best we should move forward. We ran through the Understand, Diverge, and Converge phases to establish context, diverge on different ideas, and converge on a solution that we ultimately prototyped and user tested with subscribers the following week.</p>

          <div class="article__image-container">
            <div class="article__image">
              <%= image_tag "hbr-share-storyboard.jpg",
                  :class => "",
                  :alt => "Storyboards" %>
            </div>
            <div class="article__caption">Dot voting on storyboard ideas</div>
          </div>

          <p>We came up with this idea of Team Share, where a subscriber could share entire articles or snippets of content with members of their team, whether or not they are subscribers themselves. They could highlight sections and add their own comments to the article, to kick off a discussion with their team that would take place in this Team Share experience. We introduced the concept of limiting the amount of time the content would be available, to incentivize members to interact with and comment on the content.</p>

          <div class="article__image-container">
            <div class="article__image">
              <%= image_tag "hbr-share-flow.jpg",
                  :class => "",
                  :alt => "Final storyboard" %>
            </div>
            <div class="article__caption">Converging on a final storyboard for Team Share</div>
          </div>

        <h3 class="article__heading">Outcome</h3>
        <p>In order to give the HBR team as much confidence on a path forward as we could, we did two additional weeks of user testing and iteration with our Sprint prototype. We facilitated seven interviews where we asked background questions and received feedback on our prototype. After the first four interviews, we iterated on our prototype to address any common questions or pitfalls that caused any hiccups or confusions. After we completed the final round of interviews, we synthesized our feedback and presented our findings and recommendations to the HBR team at large.</p>

        <div class="article__image-container article__image-container--2up">
          <div class="article__image ui">
            <%= image_tag "hbr-share-prototype-1.jpg",
                :class => "border",
                :alt => "Prototype screen" %>
          </div>
          <div class="article__image ui">
            <%= image_tag "hbr-share-prototype-2.jpg",
                :class => "border",
                :alt => "Prototype screen" %>
          </div>
          <div class="article__caption">Selected screens of the prototype</div>
        </div>

        <p>Overall, the subscribers were receptive to this idea of Team Share, and there was more exploration to be done in terms of the execution. We were unsure at this point which was more valuable: sharing with non-subscribers or discussing the article with their team. There was also work to be done around how this factors into HBR’s existing subscription plans. Would Team Share be available to all subscribers, or would this be an add-on? </p>

        <p>And the most important thing to learn more about is the team member’s experience, aka, the person who received this shared content. Our interviews focused around the subscriber’s experience, usually a manger, who would comment on and share an article with their team members. But how would the team member feel about receiving a Team Share? Would contributing to discussions be viewed as extra work? What is a realistic turnaround time for substantive engagement? Is it exciting to gain access to HBR content as a non-subscriber? Would they respond differently if a colleague shared it as opposed to a manager?</p>

        <p>As you can see, this was a juicy problem to sink our teeth into, and I’m so glad the HBR team wanted to explore it. And! As you probably noticed from the prototype, we tested it as a desktop experience, so ultimately we didn’t present it as a mobile app, which was the original intention of the sprint. The nature of holding team discussions was best represented in the desktop experience, and we assumed that ideas for a mobile experience would fall out of opportunities that presented themselves in the prototype. It goes to show how important it is to be flexible and open to change. By not allowing ourselves to be boxed into a solution for a mobile app, we were able to address a common pain point we heard across subscribers, that ultimately led to a lot of rich discussion and new ideas and inspiration within the HBR team.</p>
      </div>

      <div class="takeaways">
        <h3 class="takeaways__heading featured-content-heading"><span>Takeaways for you and your team</span></h3>
        <div class="takeaways__content">
          <h4>♾️ Keep testing and iterating</h4>
          <p>We find that doing additional rounds of user testing and prototype iteration after a Sprint are key to getting as many assumptions validated as we can within a short amount of time. This ultimately saves the client so much time and money by helping them narrow their focus quickly to land on an MVP that they are confident in.</p>
        </div>
        <div class="takeaways__content">
          <h4>✨ Fidelity as a tool</h4>
          <p>As you can see, we used a high-fidelity prototype here. Usually it’s recommended to keep initial explorations minimal, so as to not mislead the user or distract them with visual design so early on.</p>
          <p>However, because HBR is such a well-known and powerful brand, we feared that we wouldn’t be taken as seriously without the HBR branding.</p>
          <p>So, we struck a balance between communicating our concepts in a high-level wireframe (lots of buttons that didn’t work, pages that were suggestive and open-ended), and adding polish through branding and some light visual design treatment.</p>
        </div>
        <div class="takeaways__content">
          <h4>🔎 Synthesis is crucial</h4>
          <p>Synthesizing and communicating your insights from user research is just as–if not more–important as conducting the research itself. It’s so important to articulate the insights you’ve landed on and how you came to those conclusions. This way, your team has the opportunity to get on the same page, ask questions, and understand how you make product decisions.</p><p>Think of research as a tool to gain consensus on your team. Overtime, I’ve learned that the most important skill a designer can have is the ability to effectively communicate their informed design decisions.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-container section-container--artist">
  <%= partial "case-study-list" %>
</section>
