---
title: Jaclyn Perrone - Vree Case Study
type: case study
---

<section class="section-container section-container--designer">
  <div class="section-content gradient-border-wrap gradient-border-wrap--first">
    <div class="gradient-border-wrap__module">
      <div class="article">
        <div class="section-content__header">
          <h2 class="section-content__heading section-content__heading--tilt">Case study</h2>
          <h2 class="section-content__subheading">Vree</h2>
        </div>

        <ul class="tag-list">
          <li class="tag-list__item">🤝 Client work</li>
          <li class="tag-list__item">💁‍♀️ Lead facilitator</li>
          <li class="tag-list__item">🏃‍♀️ Product Design Sprint</li>
          <li class="tag-list__item">🌱 Early stage startup</li>
          <li class="tag-list__item">⚡ Rapid prototyping</li>
          <li class="tag-list__item">📱 User testing</li>
          <li class="tag-list__item">💡 Idea validation</li>
        </ul>

        <h3 class="article__heading">01. Challenge</h3>

        <p>Cherie, Vree's founder, had an idea for a product that she wanted to validate, and was in the earliest stages her journey. She didn’t have a team, or a prototype, or a design—just an idea and some personas. She conducted some light generative research and talked to some creative professionals in her network; but it was now time to test her idea and see if it was worth building. She came to thoughtbot to get validation on her idea and ultimately decide upon a path forward. We suggested a Product Design Sprint, to capture assumptions, ideate on possible solutions, and create a prototype to put in front of users.</p>

        <div class="article__image-container">
          <div class="article__image">
            <%= image_tag "vree-problem-statement.jpg",
                :class => "",
                :alt => "Problem statement" %>
          </div>
          <div class="article__caption">Our problem statement</div>
        </div>

        <p>Cherie’s thought was that creative professionals have a lot of different ways they collect images and inspirations, but they all live in different places—Pinterest, Instagram, Dropbox, desktop folders, etc. This is frustrating and slows down their creative process–especially when they need to create moodboards to share ideas with clients. She wanted to create a platform that would enable creatives to put all of their pins and photos into one place. This would ultimately build a community of curated content that other creatives could benefit from. She also wanted to incorporate a way to help creatives organize and quickly find their content, whether through custom labels, tags, notes, or color swatches.</p>

        <h3 class="article__heading">02. Process</h3>
        <p>I facilitated a five day Product Design Sprint with Cherie and another designer, based off of Google Ventures' method. We use Sprints to mitigate the risk inherent in bringing a new product to market. We capture the riskiest assumptions that we want to validate or invalidate, to ultimately give us the confidence we need determine how best we should move forward. We ran through the Understand, Diverge, and Converge phases to establish context, diverge on different ideas, and converge on a solution that we ultimately prototyped and user tested with potential customers on the fifth and final day.</p>

        <div class="article__image-container">
          <div class="article__image">
            <%= image_tag "vree-whiteboard.jpg",
                :class => "",
                :alt => "Whiteboard" %>
          </div>
          <div class="article__caption">Whiteboard from the Understand phase</div>
        </div>

        <div class="article__image-container article__image-container--2up">
          <div class="article__image">
            <%= image_tag "vree-assumptions.jpg",
                :class => "",
                :alt => "Assumptions" %>
          </div>
          <div class="article__image">
            <%= image_tag "vree-hmw.jpg",
                :class => "",
                :alt => "HMW questions" %>
          </div>
          <div class="article__caption">Assumptions and How Might We questions</div>
        </div>

        <p>This was a particularly fun design sprint, because Cherie was super open to ideas and collaboration. She didn’t come into the process set on wireframes or designs that she just wanted us to implement. She came into it completely open to suggestions and new ideas, and in essence it made it very easy to collaborate and bounce ideas off each other. We all felt a sense of ownership in the product, which made us extra invested in its success.</p>

        <div class="article__image-container article__image-container--2up">
          <div class="article__image">
            <%= image_tag "vree-storyboard-1.jpg",
                :class => "",
                :alt => "MVP screen" %>
          </div>
          <div class="article__image">
            <%= image_tag "vree-storyboard-2.jpg",
                :class => "",
                :alt => "MVP screen" %>
          </div>
          <div class="article__caption">Votes on storyboards</div>
        </div>

        <h3 class="article__heading">03. Outcome</h3>

        <p>On the fourth day of the Sprint the other designer and I created a prototype asynchronously using Figma. We touched on all the assumptions we wanted to test, created a testing script, and finished our clickable prototype by the end of the day.</p>

        <div class="article__image-container article__image-container--stretch">
          <div class="article__image ui">
            <%= image_tag "vree-figma.jpg",
                :class => "border",
                :alt => "Figma prototype overview" %>
          </div>
          <div class="article__caption">Overview of our Figma prototype</div>
        </div>

        <p>Our prototype flow included three main ideas that we wanted feedback on. The first was providing users with a way to import images from various sources, like their Pinterest and Instagram accounts, and giving them the ability to sort them as they are imported. The second was giving them different ways to filter and search through a library of images. And finally, we wanted to see if they were interessed in creating and sharing moodboards with their selected images.</p>

        <div class="article__image-container article__image-container--2up article__image-container--mosiac">
          <div class="article__image ui mosiac-1">
            <%= image_tag "vree-prototype-1.jpg",
                :class => "border",
                :alt => "Prototype screen" %>
          </div>
          <div class="article__image ui mosiac-2">
            <%= image_tag "vree-prototype-2.jpg",
                :class => "border",
                :alt => "Prototype screen" %>
          </div>
          <div class="article__image ui mosiac-3">
            <%= image_tag "vree-prototype-4.jpg",
                :class => "border",
                :alt => "Prototype screen" %>
          </div>
          <div class="article__image ui mosiac-4">
            <%= image_tag "vree-prototype-3.jpg",
                :class => "border",
                :alt => "Prototype screen" %>
          </div>
          <div class="article__caption">The library, import, filter, and moodboard prototype screens</div>
        </div>

        <p>On the fifth and final day of the Sprint we popped over to The Wing in London and showed our prototype to five creative professionals: two graphic designers, one branding designer, one fashion designer, and one floral stylist. We sat with each designer for 45 minutes, using the first 15 minutes to ask some background questions, and the remaining time to go through the prototype.</p>

        <p>Overall, we received positive feedback and the users we interviewed were interested in the idea. They unanimously loved the ability to import their photos from all their various collections–especially Instagram, which right now takes the most effort to organize. They also unanimously validated the need for the different filtering types to search through their library of images. Where they split was on the moodboard creation. Half of them found it convenient, while the other half said that they would stick to their current method because it would be easier for them to do that instead of adopting a new tool.</p>

        <div class="article__image-container">
          <div class="article__image ui">
            <%= image_tag "vree-test-table.jpg",
                :class => "border",
                :alt => "Assumptions test table" %>
          </div>
          <div class="article__caption">Assumptions test table</div>
        </div>

        <div class="article__image-container">
          <div class="article__image ui">
            <%= image_tag "vree-sprint-goals.jpg",
                :class => "border",
                :alt => "Sprint goals" %>
          </div>
          <div class="article__caption">Status of our Sprint goals</div>
        </div>

        <p>This was all the information we needed to decide upon a path forward. Due to the mixed reviews from this first round of feedback, we determined that the moodboard creation was not a necessity for launch, which significantly reduced the scope and time to market. We determined that the next step would be to do a development spike on the import feature, to see what opportunities and limitations exist when trying to import images and data from Instagram and Pinterest. From there, Cherie would have a better understanding of the technical feasibility of this well-received feature, and would be able to determine how best to move forward.</p>

        <p>In conclusion, we saved Cherie a ton of money and time! She came in with a very strong sense that the moodboard component of her tool would be the key differentiator, but we invalidated that idea in favor of a robust import feature. After going through the Sprint process, she learned the value of research and rapid validation, and quickly became a firm believer in incorporating them into her process moving forward to inform her product roadmap.</p>
      </div>
      <div class="takeaways">
        <h3 class="takeaways__heading">Takeaways for you and your team</h3>
        <ul class="section-sub__list">
          <li class="item-details item-details--takeaways">
            <span class="item-details__number">01</span>
              <div class="item-details__copy">
                <div class="item-details__header">
                  <h4 class="takeaways__subheading">Avoid saying "prototype"</h4>
                </div>
                <p>“Prototype” continues to be a loaded word these days, and I find it’s best to refer to it as a “learning tool” because it sets expectations more accurately. The thing we build at the end of a Sprint is not a fully-fledged prototype, or replica of what we intend to build. It’s a tool we use to test our riskiest assumptions with our users.</p><p>During this round of interviews, instead of calling it a prototype, I called it “a visual way for us to keep asking you questions.” This really loosened up the participants, and set the tone that we are really there to learn about <em>them</em>.</p>
              </div>
          </li>
          <li class="item-details item-details--takeaways">
            <span class="item-details__number">02</span>
              <div class="item-details__copy">
                <div class="item-details__header">
                  <h4 class="takeaways__subheading">Create a safe space</h4>
                </div>
                <p>When you’re facilitating a Product Design Sprint, it’s so important to create a safe space for your participants.</p><p> Being that this idea was in its earliest stages, it was crucial for us to hear Cherie’s entire thought process and all the things that led to her decision to work with us. This helped show her that we are now her teammates, ready to join her on her journey.</p>
              </div>
          </li>
          <li class="item-details item-details--takeaways">
            <span class="item-details__number">03</span>
              <div class="item-details__copy">
                <div class="item-details__header">
                  <h4 class="takeaways__subheading">Ask the experts</h4>
                </div>
                 <p>We invited a few potential users in on Day 1 to run an activity called “Ask the Experts.” In it, we did a rapid-fire Q&A session with three designers, to gut check some of our initial assumptions and to answer questions that we had.</p><p>This was really helpful, for we developed empathy for our users quickly by being able to see and talk to them so early on in the Sprint process.</p>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section-container section-container--artist">
  <%= partial "case-study-list" %>
</section>
