<div class="section-content">
  <div class="section-content__wrapper">
    <h2 class="section-content__heading">Case studies</h2>
    <section class="section-sub">
      <h3>Product Design</h3>
      <ul class="section-sub__list section-sub__list--case-study-list">
        <li class="item-details">
          <span class="item-details__number">01. Groups Recover Together</span>
          <div class="item-details__2-col">
            <div class="item-details__copy">
              <div class="item-details__header">
                <%= link_to(
                "Designing an Addiction Support App to Ensure Continued Care During COVID",
                "/case-studies/groups",
                target: "_blank",
                class: "item-details__link"
                ) %>
                <div class="item-details__role">Lead UI/UX/Visual Designer</div>
              </div>
              <div class="item-details__description"></div>
            </div>
            <div class="item-details__image item-details__image--devices">
               <% link_to(
                "/case-studies/groups",
                target: "_blank",
                rel: "Designing an Addiction Support App to Ensure Continued Care During COVID") do %>
                <%= image_tag "groups-thumb.png",
                  :class => "",
                  :alt => "Designing an Addiction Support App to Ensure Continued Care During COVID" %>
              <% end %>
            </div>
          </div>
        </li>

        <li class="item-details">
          <span class="item-details__number">02. Groups Recover Together</span>
          <div class="item-details__2-col">
            <div class="item-details__copy">
              <div class="item-details__header">
                <%= link_to(
                "Redesigning a More Holistic Approach to Goal Setting for Increased Engagement in Recovery Treatment",
                "/case-studies/groups-cp",
                target: "_blank",
                class: "item-details__link"
                ) %>
                <div class="item-details__role">Lead UI/UX/Visual Designer</div>
              </div>
            </div>
            <div class="item-details__image item-details__image--devices">
               <% link_to(
                "/case-studies/groups-cp",
                target: "_blank",
                rel: "Redesigning a More Holistic Approach to Goal Setting for Increased Engagement in Recovery Treatment") do %>
                <%= image_tag "groups-cp-thumb.png",
                  :class => "",
                  :alt => "Redesigning a More Holistic Approach to Goal Setting for Increased Engagement in Recovery Treatment" %>
              <% end %>
            </div>
          </div>
        </li>

        <li class="item-details">
          <span class="item-details__number">03. Groups Recover Together</span>
          <div class="item-details__2-col">
            <div class="item-details__copy">
              <div class="item-details__header">
                <%= link_to(
                "Surfacing and Prioritizing Patient Health Information for Better Outcomes",
                "/case-studies/groups-ps",
                target: "_blank",
                class: "item-details__link"
                ) %>
                <div class="item-details__role">Lead UI/UX/Visual Designer</div>
              </div>
            </div>
            <div class="item-details__image item-details__image--devices">
               <% link_to(
                "/case-studies/groups-ps",
                target: "_blank",
                rel: "Surfacing and Prioritizing Patient Health Information for Better Outcomes") do %>
                <%= image_tag "groups-ps-thumb.png",
                  :class => "",
                  :alt => "Surfacing and Prioritizing Patient Health Information for Better Outcomes" %>
              <% end %>
            </div>
          </div>
        </li>
        
        <li class="item-details">
          <span class="item-details__number">04. Groups Recover Together</span>
          <div class="item-details__2-col">
            <div class="item-details__copy">
              <div class="item-details__header">
                <%= link_to(
                "Designing a Task Management System to Improve Team Efficiency",
                "/case-studies/groups-al",
                target: "_blank",
                class: "item-details__link"
                ) %>
                <div class="item-details__role">Lead UI/UX/Visual Designer</div>
              </div>
            </div>
            <div class="item-details__image item-details__image--devices">
               <% link_to(
                "/case-studies/groups-al",
                target: "_blank",
                rel: "Designing a Task Management System to Improve Team Efficiency") do %>
                <%= image_tag "groups-al-thumb.png",
                  :class => "",
                  :alt => "Designing a Task Management System to Improve Team Efficiency" %>
              <% end %>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <section class="section-sub">
      <h3>Facilitation</h3>
      <ul class="section-sub__list section-sub__list--case-study-list">
        <li class="item-details">
          <span class="item-details__number">01. Corvus Insurance</span>
          <div class="item-details__2-col">
            <div class="item-details__copy">
              <div class="item-details__header">
                <%= link_to(
                "Creating a Design Thinking Workshop to Engage Customers and Inform Product Roadmap",
                "/case-studies/corvus",
                target: "_blank",
                class: "item-details__link"
                ) %>
                <div class="item-details__role">Lead facilitator and designer</div>
              </div>
            </div>
            <div class="item-details__image">
               <% link_to(
                "/case-studies/corvus",
                target: "_blank",
                rel: "Creating a Design Thinking Workshop to Engage Customers and Inform Product Roadmap") do %>
                <%= image_tag "corvus-define.jpg",
                  :class => "",
                  :alt => "Creating a Design Thinking Workshop to Engage Customers and Inform Product Roadmap" %>
              <% end %>
            </div>
          </div>
        </li>

        <li class="item-details">
          <span class="item-details__number">02. Harvard Business Review</span>
          <div class="item-details__2-col">
            <div class="item-details__copy">
              <div class="item-details__header">
                <%= link_to(
                "Facilitating a Design Sprint to Determine a Strategy for Content Curation",
                "/case-studies/hbr-curation",
                target: "_blank",
                class: "item-details__link"
                ) %>
                <div class="item-details__role">Lead facilitator and designer</div>
              </div>
            </div>
            <div class="item-details__image">
               <% link_to(
                "/case-studies/hbr-curation",
                target: "_blank",
                rel: "Facilitating a Design Sprint to Determine a Strategy for Content Curation") do %>
                <%= image_tag "hbr-curate-sketches.jpg",
                  :class => "",
                  :alt => "Facilitating a Design Sprint to Determine a Strategy for Content Curation" %>
              <% end %>
            </div>
          </div>
        </li>

        <li class="item-details">
          <span class="item-details__number">03. Massachusetts Bay Transportation Authority</span>
          <div class="item-details__2-col">
            <div class="item-details__copy">
              <div class="item-details__header">
                <%= link_to(
                "Leading a Research Initiative To Improve Internal Communication and Enhance Customer Service",
                "/case-studies/mbta",
                target: "_blank",
                class: "item-details__link"
                ) %>
                <div class="item-details__role">Project lead</div>
              </div>
            </div>
            <div class="item-details__image">
               <% link_to(
                "/case-studies/mbta",
                target: "_blank",
                rel: "Leading a Research Initiative To Improve Internal Communication and Enhance Customer Service") do %>
                <%= image_tag "mbta-interview.jpg",
                  :class => "",
                  :alt => "Leading a Research Initiative To Improve Internal Communication and Enhance Customer Service" %>
              <% end %>
            </div>
          </div>
        </li>

        <li class="item-details">
          <span class="item-details__number">04. Harvard Business Review</span>
          <div class="item-details__2-col">
            <div class="item-details__copy">
              <div class="item-details__header">
                <%= link_to(
                "Facilitating a User Research and Design Sprint to Uncover and Address Subscriber Pain Points",
                "/case-studies/hbr-share",
                target: "_blank",
                class: "item-details__link"
                ) %>
                <div class="item-details__role">Lead facilitator and designer</div>
              </div>
            </div>
            <div class="item-details__image">
               <% link_to(
                "/case-studies/hbr-share",
                target: "_blank",
                rel: "Facilitating a User Research and Design Sprint to Uncover and Address Subscriber Pain Points") do %>
                <%= image_tag "hbr-share-storyboard.jpg",
                  :class => "",
                  :alt => "Facilitating a User Research and Design Sprint to Uncover and Address Subscriber Pain Points" %>
              <% end %>
            </div>
          </div>
        </li>

        <li class="item-details">
          <span class="item-details__number">05. Vree</span>
          <div class="item-details__2-col">
            <div class="item-details__copy">
              <div class="item-details__header">
                <%= link_to(
                "Invalidating an Idea through a Design Sprint to Rethink Product Strategy",
                "/case-studies/vree",
                target: "_blank",
                class: "item-details__link"
                ) %>
                <div class="item-details__role">Lead facilitator and designer</div>
              </div>
            </div>
            <div class="item-details__image">
               <% link_to(
                "/case-studies/vree",
                target: "_blank",
                rel: "Invalidating an Idea through a Design Sprint to Rethink Product Strategy") do %>
                <%= image_tag "vree-prototype-2.jpg",
                  :class => "",
                  :alt => "Invalidating an Idea through a Design Sprint to Rethink Product Strategy" %>
              <% end %>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section class="section-sub">
      <h3>Team Enablement</h3>
      <ul class="section-sub__list section-sub__list--case-study-list">
         <li class="item-details">
            <span class="item-details__number">01. Thoughtbot</span>
            <div class="item-details__2-col">
              <div class="item-details__image">
                 <% link_to(
                  "/case-studies/tb-hiring",
                  target: "_blank",
                  rel: "Rethinking Our Design Hiring Process to Attract Quality Candidates and Boost Acceptance Rates") do %>
                  <%= image_tag "thumb__hiring.jpg",
                    :class => "",
                    :alt => "Rethinking Our Design Hiring Process to Attract Quality Candidates and Boost Acceptance Rates" %>
                <% end %>
              </div>
              <div class="item-details__copy">
                <div class="item-details__header">
                  <%= link_to(
                  "Rethinking Our Design Hiring Process to Attract Quality Candidates and Boost Acceptance Rates",
                  "/case-studies/tb-hiring",
                  target: "_blank",
                  class: "item-details__link"
                  ) %>
                  <div class="item-details__role">Strategy Lead</div>
                </div>
              </div>
            </div>
          </li>

         <li class="item-details">
            <span class="item-details__number">02. Thoughtbot</span>
            <div class="item-details__2-col">
              <div class="item-details__image">
                 <% link_to(
                  "/case-studies/tb-consulting",
                  target: "_blank",
                  rel: "Creating a Consulting Workshop to Help Our Team Navigate Difficult Client Conversations") do %>
                  <%= image_tag "thumb__consulting.jpg",
                    :class => "",
                    :alt => "Creating a Consulting Workshop to Help Our Team Navigate Difficult Client Conversations" %>
                <% end %>
              </div>
              <div class="item-details__copy">
                <div class="item-details__header">
                  <%= link_to(
                  "Creating a Consulting Workshop to Help Our Team Navigate Difficult Client Conversations",
                  "/case-studies/tb-consulting",
                  target: "_blank",
                  class: "item-details__link"
                  ) %>
                  <div class="item-details__role">creator and facilitator</div>
                </div>
              </div>
            </div>
          </li>
      </ul>
    </section>
  </div>
</div>
