<div class="section-content gradient-border-wrap gradient-border-wrap--first">
  <div class="gradient-border-wrap__module">
    <h2 class="section-content__heading section-content__heading--tilt">Case studies</h2>
    <section class="section-sub section-sub--tilt">
      <h3>Client work</h3>
      <ul>
        <li class="item-details">
          <%= link_to "Corvus Insurance",
                      "/case-studies/corvus",
                      target: "_blank" %><span class="item-details__role">, lead facilitator</span>
          <div class="item-details__description">Created and facilitated a custom Design Thinking workshop for a company-wide summit of 70 attendees.</div>
        </li>
        <li class="item-details">
          <%= link_to "Harvard Business Review",
                      "/case-studies/hbr-curation",
                      target: "_blank" %><span class="item-details__role">, lead facilitator</span>
          <div class="item-details__description">Facilitated a two-week Product Design Sprint to ideate and validate a direction for content curation.</div>
        </li>
        <li class="item-details">
          <%= link_to "MBTA",
                      "/case-studies/mbta",
                      target: "_blank" %><span class="item-details__role">, project lead</span>
          <div class="item-details__description">Led a small product team through a three month design research exploration to help MBTA officials improve communication on the Green Line.</div>
        </li>
        <li class="item-details">
          <%= link_to "Harvard Business Review",
                      "/case-studies/hbr-share",
                      target: "_blank" %><span class="item-details__role">, lead facilitator</span>
          <div class="item-details__description">Facilitated a four-week generative user research and Product Design Sprint engagement to uncover subscriber pain points and potential solutions.</div>
        </li>
        <li class="item-details">
          <%= link_to "Vree",
                      "/case-studies/vree",
                      target: "_blank" %><span class="item-details__role">, lead facilitator</span>
          <div class="item-details__description">Facilitated a Product Design Sprint with a founder of an early stage start-up to validate her initial product idea.</div>
        </li>
      </ul>
    </section>

    <section class="section-sub">
      <h3>Internal team work</h3>
      <ul>
        <li class="item-details">
          <%= link_to "Rethinking our Designer hiring process",
                      "/case-studies/tb-hiring",
                      target: "_blank" %><span class="item-details__role">, instigator and co-conspirator</span>
          <div class="item-details__description">When I became a Design Director at thoughtbot I realized our hiring process for Designers was long overdue for an overhaul.</div>
        </li>
        <li class="item-details">
          <%= link_to "Difficult Conversations workshop",
                      "/case-studies/tb-consulting",
                      target: "_blank" %><span class="item-details__role">, creator</span>
          <div class="item-details__description">Consulting is hard. Having difficult conversations with clients is hard. I created a role-playing workshop to help our team do just that.</div>
        </li>
      </ul>
    </section>
  </div>
</div>
