<section class="section-container section-container--designer">
  <div class="section-content gradient-border-wrap gradient-border-wrap--first">
    <div class="gradient-border-wrap__module">
      <h2 class="section-content__heading section-content__heading--tilt">Design leader</h2>

      <section class="section-sub section-sub--tilt">
        <h3 id="podcasts">Podcasts</h3>
        <ul>
          <li class="item-details"><%= link_to(
              "Tentative",
              "https://www.tentative.fm/",
              target: "_blank"
              ) %><span class="item-details__role">, co-host</span>
            <div class="item-details__description">A podcast by thoughtbot about digital product design</div>
          </li>
          <li class="item-details"><%= link_to(
              "Awkward Silences by User Interviews",
              "https://www.userinterviews.com/blog/thoughtbots-jaclyn-perrone-preparing-for-amazing-research",
              target: "_blank"
              ) %><span class="item-details__role">, guest</span>
            <div class="item-details__description">Episode 2: "When Research Doesn't Go As Planned"</div>
          </li>
        </ul>
      </section>

      <section class="section-sub">
        <h3 id="workshops">Workshops</h3>
        <ul>
          <li class="item-details">
            <%= link_to(
              "How to Unstick Your Product Strategy with One Exercise",
              "https://info.thoughtbot.com/unstick-your-product-strategy-recording",
              target: "_blank"
              ) %>
            <div class="item-details__description">thoughtbot with Harvard Business Review, 2020</div>
          </li>
          <li class="item-details"><%= link_to(
              "7 Tips for Better User Interviews",
              "https://www.userinterviews.com/blog/7-tips-for-better-user-interviews",
              target: "_blank"
              ) %>
            <div class="item-details__description">User Interviews, 2020</div>
          </li>
          <li class="item-details"><%= link_to(
              "Conducting User Research Interviews",
              "https://thoughtbot.com/blog/tips-for-conducting-user-research-interviews-workshop",
              target: "_blank"
              ) %>
            <div class="item-details__description">MassChallenge, 2019</div>
          </li>
          <li class="item-details"><%= link_to(
              "The Product Design Sprint - 5 Phase Breakdown",
              "https://thoughtbot.com/purpose-built/validation?wvideo=xyh7stibu2",
              target: "_blank"
              ) %>
            <div class="item-details__description">VentureCafe, 2018</div>
          </li>

        </ul>
      </section>

      <section class="section-sub">
        <h3 id="articles">Articles</h3>
        <ul>
          <li class="item-details"><%= link_to(
              "User Testing Gone Wild: A Guide to Course Correction",
              "https://thoughtbot.com/blog/user-testing-gone-wild-a-guide-to-course-correction",
              target: "_blank"
              ) %>
          </li>
          <li class="item-details"><%= link_to(
              "Tips for Conducting User Research Interviews",
              "https://thoughtbot.com/blog/tips-for-conducting-user-research-interviews",
              target: "_blank"
              ) %>
          </li>
          <li class="item-details"><%= link_to(
              "Advice for our User",
              "https://thoughtbot.com/blog/advice-for-our-user",
              target: "_blank"
              ) %>
          </li>
        </ul>
      </section>

      <section class="section-sub">
        <h3 id="case-studies">Case Studies</h3>
        <ul>
          <li class="item-details"><%= link_to(
              "Improving Massachusetts Bay Transportation Authority internal communication to ensure trains run regularly",
              "https://thoughtbot.com/case-studies/mbta",
              target: "_blank"
              ) %><span class="item-details__role">, project lead</span>
          </li>
          <li class="item-details"><%= link_to(
              "Engaging Customers to Inform Product Roadmap",
              "https://thoughtbot.com/case-studies/corvus-insurance",
              target: "_blank"
              ) %><span class="item-details__role">, creator and lead facilitator</span>
          </li>
          <li class="item-details"><%= link_to(
              "Redesigning How We Hire Designers at thoughtbot",
              "https://thoughtbot.com/blog/redesigning-how-we-hire-designers-at-thoughtbot",
              target: "_blank"
              ) %><span class="item-details__role">, instigator and co-conspirator</span>
          </li>
        </ul>
        <div class="inset-content">
          <ul class="inset-content__list inset-content__list--full-width">
            <li>🔒 Case Study 1</li>
            <li>🔒 Case Study 2</li>
            <li>🔒 Case Study 3</li>
            <li>🔒 Case Study 4</li>
            <li>🔒 Case Study 5</li>
            <li>🔒 Case Study 6</li>
          </ul>
          <div>
            🔑 <%= link_to(
              "Ask me for the key",
              "mailto:hello@jaclynperrone.com?subject=Are you the keymaster?",
              target: "_blank",
              :class=>"inset-content__action"
              ) %>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
