<footer>
  <section class="section-container section-container--footer">
    <div class="section-content section-content--footer footer">
      <div class="footer__content footer__content--image">
        <%= image_tag "speaker.jpg",
            :class=>"footer__image" %>
      </div>
      <div class="footer__content footer__content--copy">
        <p>I joined thoughtbot in New York City in October 2015 as a Product Designer, and am now a Design Director.</p>

        <p>Prior to thoughtbot, I started my career as a self-taught Front-end Developer for a small interactive media agency in Manhattan. After a few years of building websites and web apps, I moved on to a User Experience Designer role at Ogilvy & Mather, where I combined my love of code with my love of design. From there, my desire to apply my skills to business strategy and consulting led me to a Product Designer role at Pivotal Labs, where my interest in agile methodologies and user-centric design and development ultimately led me to thoughtbot.</p>

        <p>As Design Director at thoughtbot, I provide mentorship and support to the Boston design team, while assisting with sales, strategy, and client engagements. I have facilitated countless user interviews, design sprints, and workshops, and I very much enjoy giving talks about all those things.</p>

        <div class="footer__closing">
          <div>Thanks for stopping by! Come back soon.✌️</div>

          <div class="footer__ingredients">I built this site from scratch using
            <%= link_to(
            "Middleman",
            "https://middlemanapp.com/",
            target: "_blank",
            :class=>"anchor-reset"
            ) %>,
            <%= link_to(
            "Sublime Text",
            "https://www.sublimetext.com/",
            target: "_blank",
            :class=>"anchor-reset"
            ) %>,
            <%= link_to(
            "iTerm2",
            "https://www.iterm2.com/",
            target: "_blank",
            :class=>"anchor-reset"
            ) %>,
            <%= link_to(
            "Netlify",
            "https://www.netlify.com",
            target: "_blank",
            :class=>"anchor-reset"
            ) %>, and
            <%= link_to(
            "GitHub",
            "https://www.github.com/jaclynperrone",
            target: "_blank",
            :class=>"anchor-reset"
            ) %> 🍳</div>
        </div>
      </div>
    </div>
  </section>
</footer>
