<footer>
  <section class="section-container">
    <div class="section-content section-content--footer">
      <div class="footer__content footer__content--image">
        <%= image_tag "speaker.jpg",
            :class=>"footer__image" %>
      </div>
      <div class="footer__content footer__content--copy">
        <p>I joined Quora in 2021 as a Product Design Manager and Design Lead for their Monetization team. I provide mentorship and support to the designers, while collaborating with cross-functional teams and leadership on strategic goals and high-impact opportunities.</p>

        <p>Prior to Quora, I started my career as a self-taught Front-end Developer for an interactive media agency in Manhattan. After a few years of building websites and web apps, I moved on to a Product Designer role at Pivotal Labs, where I combined my love of code with my love for design. From there, I applied my skills to business strategy and consulting as Design Director at thoughtbot, where my interest in agile methodologies and user-centric design and development ultimately led me to Quora.</p>

        <p>Over the course of my career I have facilitated countless user interviews, design sprints, and workshops, and I very much enjoy giving talks about all those things. I am also a nights-and-weekends artist, and enjoy painting, drawing, and playing my guitar at every chance I get!</p>

        <div class="footer__closing">
          <div>Thanks for stopping by! Come back soon.✌️</div>

          <div class="footer__ingredients">I built this site from scratch using
            <%= link_to(
            "Middleman",
            "https://middlemanapp.com/",
            target: "_blank",
            :class=>"anchor-reset"
            ) %>,
            <%= link_to(
            "Sublime Text",
            "https://www.sublimetext.com/",
            target: "_blank",
            :class=>"anchor-reset"
            ) %>,
            <%= link_to(
            "iTerm2",
            "https://www.iterm2.com/",
            target: "_blank",
            :class=>"anchor-reset"
            ) %>,
            <%= link_to(
            "Netlify",
            "https://www.netlify.com",
            target: "_blank",
            :class=>"anchor-reset"
            ) %>, and
            <%= link_to(
            "GitHub",
            "https://www.github.com/jaclynperrone",
            target: "_blank",
            :class=>"anchor-reset"
            ) %> 🍳</div>
        </div>
      </div>
    </div>
  </section>
</footer>
