<section class="section-container">
  <div class="section-content">
    <div class="section-content__wrapper">
      <h2 class="section-content__heading">Planters</h2>

      <div class="portfolio--planters">
        <ul class="portfolio__grid">
          <li>
            <%= image_tag "portfolio/planters/planter-md-teal.jpg",
              :class => "portfolio__image",
              :alt => "Planter Medium Teal" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-md-pink.jpg",
              :class => "portfolio__image",
              :alt => "Planter Medium Pink" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/group-2.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 2" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-lg-yellow.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large Yellow" %>
          </li>
          <li class="planter--group-1">
            <%= image_tag "portfolio/planters/group-1.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 1" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-lg-lgtpink.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large Light Pink" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-lg-orange.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large Orange" %>
          </li>
          <li class="planter--group-3">
            <%= image_tag "portfolio/planters/group-3.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 3" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-lg-lgtblue.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large Light Blue" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/dish-sm-white.jpg",
              :class => "portfolio__image",
              :alt => "Dish Small White" %>
          </li>
          <li class="planter--group-4">
            <%= image_tag "portfolio/planters/group-4.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 4" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/dish-lg-pink.jpg",
              :class => "portfolio__image",
              :alt => "Dish Large Pink" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-sm-blue.jpg",
              :class => "portfolio__image",
              :alt => "Planter Small Blue" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/group-5.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 5" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/dish-lg-blue.jpg",
              :class => "portfolio__image",
              :alt => "Dish Large Blue" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/group-7.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 7" %>
          </li>
          <li class="planter--group-8">
            <%= image_tag "portfolio/planters/group-8.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 8" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/group-6.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 6" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/dish-sm-pink.jpg",
              :class => "portfolio__image",
              :alt => "Dish Small Pink" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/group-11.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 11" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-lg-pink.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large Pink" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-xs-pink.jpg",
              :class => "portfolio__image",
              :alt => "Planter Extra Small Pink" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-lg-white.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large White" %>
          </li>
          <li class="planter--group-9">
            <%= image_tag "portfolio/planters/group-9.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 9" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/group-10.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 10" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-md-lgtblue.jpg",
              :class => "portfolio__image",
              :alt => "Planter Medium Light Blue" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/group-12.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 12" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
