<header class="site-header js-site-header">
  <div class="site-header__container">
    <div class="site-header__content">
      <h1 class="site-header__heading">
        <%= link_to "Jaclyn Perrone", "index.html" %>
      </h1>

      <nav class="site-header__nav">
        <ul class="gallery-nav-list">
          <li class="gallery-nav-list__item gallery-nav-list__item--prev js-gallery-prev">
            <%= partial "/assets/images/icon--prev.svg" %>
          </li>

          <li class="gallery-nav-list__item gallery-nav-list__item--next js-gallery-next">
            <%= partial "/assets/images/icon--next.svg" %>
          </li>

          <li class="gallery-nav-list__item gallery-nav-list__item--close  js-gallery-close"><%= partial "/assets/images/icon--close.svg" %></li>
        </ul>

        <ul class="site-header-list">
          <li class="site-header-list__item <%=nav_active('index.html') %>" >
            <%= link_to "Artwork", "index.html" %>
          </li>

          <li class="site-header-list__item <%=nav_active('about.html') %>">
            <%= link_to "About", "about.html" %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="site-header-placeholder"></div>
