---
title: Jaclyn Perrone - Artwork
---

<section class="section-container">
  <div class="section-content">
    <div class="section-content__wrapper">
      <h2 class="section-content__heading">Artwork</h2>

      <div class="portfolio">
        <ul class="portfolio__grid portfolio__grid--prints">
          <li class="print--village">
            <% link_to "https://jaclynperroneart.etsy.com/listing/703983885/village-art-prints-abstract-city-nyc", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/village.jpg",
                :class => "portfolio__image",
                :alt => "Village" %>
            <% end %>
          </li>
          <li class="print--purple-brownstones">
            <% link_to "https://jaclynperroneart.etsy.com/listing/690123446/purple-brownstones-colorful-art-abstract", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/purple-brownstones.jpg",
                :class => "portfolio__image",
                :alt => "Purple Brownstones" %>
            <% end %>
          </li>
          <li class="print--rooftops">
            <% link_to "https://jaclynperroneart.etsy.com/listing/631919370/rooftops-colorful-art-abstract-prints", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/rooftops.jpg",
                :class => "portfolio__image",
                :alt => "Rooftops" %>
            <% end %>
          </li>
          <li class="print--bk-sunset">
            <% link_to "https://jaclynperroneart.etsy.com/listing/639567488/brooklyn-sunset-abstract-colorful-art", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/bk-sunset.jpg",
                :class => "portfolio__image",
                :alt => "Brooklyn Sunset" %>
            <% end %>
          </li>
          <li class="print--autumn">
            <% link_to "https://jaclynperroneart.etsy.com/listing/634404978/autumn-colorful-abstract-art-prints", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/autumn.jpg",
                :class => "portfolio__image",
                :alt => "Autumn" %>
            <% end %>
          </li>
          <li class="print--alive">
            <% link_to "https://jaclynperroneart.etsy.com/listing/639580956/alive-art-prints-abstract-city-brooklyn", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/alive.jpg",
                :class => "portfolio__image",
                :alt => "Alive" %>
            <% end %>
          </li>
          <li class="print--guernsey">
            <% link_to "https://jaclynperroneart.etsy.com/listing/653418157/guernsey-prints-art-abstract-line-wall", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/guernsey.jpg",
                :class => "portfolio__image",
                :alt => "Guernsey" %>
            <% end %>
          </li>
          <li class="print--lush">
            <% link_to "https://jaclynperroneart.etsy.com/listing/653417625/lush-colorful-art-abstract-prints-house", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/lush.jpg",
                :class => "portfolio__image",
                :alt => "Lush" %>
            <% end %>
          </li>
          <li class="print--smoky-mountains">
            <% link_to "https://jaclynperroneart.etsy.com/listing/966732757/great-smoky-mountains-art-prints", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/smoky-mountains.jpg",
                :class => "portfolio__image",
                :alt => "Great Smoky Mountains" %>
            <% end %>
          </li>
          <li class="print--red-field">
            <% link_to "https://jaclynperroneart.etsy.com/listing/648231049/red-field-abstract-colorful-art-prints", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/red-field.jpg",
                :class => "portfolio__image",
                :alt => "Red Field" %>
            <% end %>
          </li>
          <li class="print--tremont">
            <% link_to "https://jaclynperroneart.etsy.com/listing/703978577/tremont-art-colorful-wall-prints", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/tremont.jpg",
                :class => "portfolio__image",
                :alt => "Tremont" %>
            <% end %>
          </li>
          <li class="print--winter-street">
            <% link_to "https://jaclynperroneart.etsy.com/listing/645736797/winter-street-art-colorful-wall-prints", target: "_blank", class: "print__link" do %>
                <div class="print__overlay"></div>
                <%= image_tag "portfolio/prints/winter-street.jpg",
                  :class => "portfolio__image",
                  :alt => "Winter Street" %>
            <% end %>
          </li>
          <li class="print--green-valley">
            <% link_to "https://jaclynperroneart.etsy.com/listing/653412359/green-valley-art-prints-colorful", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/green-valley.jpg",
                :class => "portfolio__image",
                :alt => "Green Valley" %>
            <% end %>
          </li>
           <li class="print--midnight">
              <% link_to "https://jaclynperroneart.etsy.com/listing/631920732/midnight-abstract-colorful-art-prints", target: "_blank", class: "print__link" do %>
                <div class="print__overlay"></div>
                <%= image_tag "portfolio/prints/midnight.jpg",
                  :class => "portfolio__image",
                  :alt => "Midnight" %>
              <% end %>
            </li>
          <li class="print--forest-walk">
            <% link_to "https://jaclynperroneart.etsy.com/listing/1075559347/forest-walk-art-prints-hike-colorful", target: "_blank", class: "print__link" do %>
            <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/forest-walk.jpg",
                :class => "portfolio__image",
                :alt => "Forest Walk" %>
            <% end %>
          </li>
          <li class="print--green-house">
            <% link_to "https://jaclynperroneart.etsy.com/listing/648237759/green-house-art-prints-colorful-abstract", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/green-house.jpg",
                :class => "portfolio__image",
                :alt => "Green House" %>
            <% end %>
          </li>
         <li class="print--pastel-city">
            <% link_to "https://jaclynperroneart.etsy.com/listing/703976943/pastel-city-art-cityscape-prints", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/pastel-city.jpg",
                :class => "portfolio__image",
                :alt => "Pastel City" %>
            <% end %>
          </li>
          <li class="print--uws">
            <% link_to "https://jaclynperroneart.etsy.com/listing/634395928/upper-west-side-abstract-art-prints-line", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/uws.jpg",
                :class => "portfolio__image",
                :alt => "Upper West Side" %>
            <% end %>
          </li>
          <li class="print--brushy">
            <% link_to "https://jaclynperroneart.etsy.com/listing/966739273/brushy-mountain-trail-art-prints-smoky", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/brushy-mountain-trail.jpg",
                :class => "portfolio__image",
                :alt => "Brushy Mountain Trail" %>
            <% end %>
          </li>
          <li class="print--willburg-i">
            <% link_to "https://jaclynperroneart.etsy.com/listing/653418797/williamsburg-i-prints-art-abstract-line", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/willburg-i.jpg",
                :class => "portfolio__image",
                :alt => "Williamsburg I" %>
            <% end %>
          </li>
          <li class="print--treehouse">
            <% link_to "https://jaclynperroneart.etsy.com/listing/639581906/tree-house-colorful-abstract-art-prints", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/treehouse.jpg",
                :class => "portfolio__image",
                :alt => "Treehouse" %>
              <% end %>
          </li>
          <li class="print--midtown">
            <% link_to "https://jaclynperroneart.etsy.com/listing/637167536/midtown-abstract-art-prints-line-wall", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/midtown.jpg",
                :class => "portfolio__image",
                :alt => "Midtown" %>
            <% end %>
          </li>
          <li class="print--venice">
            <%= image_tag "portfolio/prints/venice.jpg",
              :class => "portfolio__image",
              :alt => "Venice" %>
          </li>
          <li class="print--forest">
            <% link_to "https://jaclynperroneart.etsy.com/listing/645742809/forest-colorful-abstract-art-prints-wall", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/forest.jpg",
                :class => "portfolio__image test",
                :alt => "Forest" %>
            <% end %>
          </li>
          <li class="print--fractured">
            <% link_to "https://jaclynperroneart.etsy.com/listing/639580170/fractured-art-prints-abstract-colorful", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/fractured.jpg",
                :class => "portfolio__image",
                :alt => "Fractured" %>
            <% end %>
          </li>
          <li class="print--willburg-ii">
            <% link_to "https://jaclynperroneart.etsy.com/listing/645721867/williamsburg-ii-art-abstract-prints", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/willburg-ii.jpg",
                :class => "portfolio__image",
                :alt => "Williamsburg II" %>
            <% end %>
          </li>
          <li class="print--afterglow">
            <% link_to "https://jaclynperroneart.etsy.com/listing/631908658/afterglow-colorful-abstract-art-prints", target: "_blank", class: "print__link" do %>
              <div class="print__overlay"></div>
              <%= image_tag "portfolio/prints/afterglow.jpg",
                :class => "portfolio__image",
                :alt => "Afterglow" %>
            <% end %>
          </li>


        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section-container">
  <div class="section-content">
    <div class="section-content__wrapper">
      <h2 class="section-content__heading">Planters</h2>

      <div class="portfolio--planters">
        <ul class="portfolio__grid">
          <li>
            <%= image_tag "portfolio/planters/planter-md-teal.jpg",
              :class => "portfolio__image",
              :alt => "Planter Medium Teal" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-md-pink.jpg",
              :class => "portfolio__image",
              :alt => "Planter Medium Pink" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/group-2.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 2" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-lg-yellow.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large Yellow" %>
          </li>
          <li class="planter--group-1">
            <%= image_tag "portfolio/planters/group-1.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 1" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-lg-lgtpink.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large Light Pink" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-lg-orange.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large Orange" %>
          </li>
          <li class="planter--group-3">
            <%= image_tag "portfolio/planters/group-3.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 3" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-lg-lgtblue.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large Light Blue" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/dish-sm-white.jpg",
              :class => "portfolio__image",
              :alt => "Dish Small White" %>
          </li>
          <li class="planter--group-4">
            <%= image_tag "portfolio/planters/group-4.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 4" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/dish-lg-pink.jpg",
              :class => "portfolio__image",
              :alt => "Dish Large Pink" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-sm-blue.jpg",
              :class => "portfolio__image",
              :alt => "Planter Small Blue" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/group-5.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 5" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/dish-lg-blue.jpg",
              :class => "portfolio__image",
              :alt => "Dish Large Blue" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/group-7.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 7" %>
          </li>
          <li class="planter--group-8">
            <%= image_tag "portfolio/planters/group-8.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 8" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/group-6.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 6" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/dish-sm-pink.jpg",
              :class => "portfolio__image",
              :alt => "Dish Small Pink" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/group-11.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 11" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-lg-pink.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large Pink" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-xs-pink.jpg",
              :class => "portfolio__image",
              :alt => "Planter Extra Small Pink" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-lg-white.jpg",
              :class => "portfolio__image",
              :alt => "Planter Large White" %>
          </li>
          <li class="planter--group-9">
            <%= image_tag "portfolio/planters/group-9.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 9" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/group-10.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 10" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/planter-md-lgtblue.jpg",
              :class => "portfolio__image",
              :alt => "Planter Medium Light Blue" %>
          </li>
          <li>
            <%= image_tag "portfolio/planters/group-12.jpg",
              :class => "portfolio__image",
              :alt => "Planter Group 12" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
