---
title: Jaclyn Perrone
---
<header class="section-container section-container--hero">
  <div class="section-content">
    <h1>Jaclyn Perrone</h1>
    <div>👋 I'm a Design Director at
    <%= link_to(
      "thoughtbot",
      "https://thoughtbot.com",
      target: "_blank", :class => "anchor-reset"
      ) %> and a Jackie of all trades.</div>
  </div>
</header>

<main>
  <%= partial "design-leader" %>
  <%= partial "artist" %>
  <%= partial "contact" %>
</main>

  <%= partial "footer" %>

